body {
    margin: 0;
}

.wrapper {
    height: 6000px;
    margin-bottom: 2000px;
    border: 10px solid pink;
}

header {
    padding-top: 100px;
    border: 10px solid green;
    height: 500px;
}

.top-header {
    color: white;
    padding: 30px;
    background-color: red;
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
    left: 0;
    width: 100%;
}

.top-header h1 {
    margin: 0;
}