/* Style for History page article  */

.history-h1 {
    margin: 0;
    text-align: center;	
    padding: 5px;
}

.history_article {
    margin: 5px;
    padding: 0 10px;
}


.history_article .featured-image {
	width: 39%;
	float: right;
	margin-left: 20px;	
}

.history-btn {
    margin: 10px;
    background: lightskyblue;
    text-decoration: none;
    color: black;
}

.lib-war{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* Position Sticky */
.pg-demo-position-sticky .section-header-sticky {
	line-height: 1;
	padding: 30px;
	color: white;
	margin-left: -20px;
	margin-right: -20px;
}

.pg-demo-position-sticky .section-1-header {
    background-color: #F05D5E;
    text-align: center;
}

.pg-demo-position-sticky .section-2-header {
    background-color: #0F7173;
    text-align: center;
}

.pg-demo-position-sticky .section-3-header {
    background-color: #272932;
    text-align: center;
}

.section-header-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.show .section-header-sticky{
    z-index: 0;
}

/* Slideshow User Interface Elements */
.slideshow-container {
    flex: 1;
    position: relative;
}

.cycle-pager {
    position: absolute;
    font-size: 3em;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    color: #818181;
}

.show .cycle-pager{
    z-index: 0;
}

.cycle-pager-active {
    color: orange;
}

.controls button {
    font-size: 5em;
    padding: 0;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
}

.show .slideshow-container{
    z-index: 0;
}


.prev {
    left: 10px;
}

.next {
    right: 10px;
}

@media (min-width:650px){
.lib-war{
    flex-direction: row;
}

.part1{
    flex: 0 0 65%;
}

.section-header-sticky{
    z-index: 200;
}

.slideshow-container{
    flex: 0 0 30%;
}
}