@charset "utf-8";

/* Resets */

/* Box Sizing Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Img reset */
img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
}

/* Type Styles */

/* heading font */
h1, h2, h3, nav a {
     font-family: 'Times New Roman', Times, serif;
}

p {
    line-height: 1.4;
}

/* Wrapper Styles */
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Style */
header a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

/* Top-bar style */
.top-bar{
    background-color: black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    align-items: center;
    padding: 8px;
}


/* style for nav bar */
.top-bar nav{
    display: none;
}

.nav-button {
    font-size: 1.5em;
    background-color: black;
    border: none;
    color: white;
    display: block;
    height: 50px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger-icon {
    display: block;
    height: 25px;
}

.show .top-bar nav {
    width: 100%;
    display: block;
}

.top-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-bar nav a {
    padding: 0 20px;
    line-height: 50px;
    font-size: 1.2em;
    transition: background-color 0.5s ease;
    display: block;
}

.top-bar nav a:hover,
.top-bar nav a:active,
.top-bar nav a:focus {
    background-color: rgba(255,255,255, 0.3);
}

.banner img {
    display: block;
    width: 100%
}