@charset "utf-8";

/* Resets */

/* Box Sizing Reset */
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Img reset */
img {
    max-width: 100%;
    height: auto;
}

body {
    margin: 0;
    /* font-family: 'Roboto', sans-serif; */
}

/* Type Styles */

/* heading font */
h1, h2, h3, nav a {
     font-family: 'Times New Roman', Times, serif;
}

p {
    line-height: 1.4;
}

/* Wrapper Styles */
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Style */
header a{
    text-decoration: none;
    margin: 0;
    padding: 0;
    color:black;
    
}

header h1 {
    font-size: 2.5em;
    margin: 0;
    font-family: 'Lobster', cursive;
    text-transform: uppercase;
    padding-left: 20px;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.7);
}

/* Top-bar style */
.top-bar{
    background-color:rgba(190, 35, 35, 0.87);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;  
    align-items: center;
    padding: 8px;
}


/* style for nav bar */
.top-bar nav{
    display: none;
}

.nav-button {
    font-size: 1.5em;
    background-color:transparent;
    border: none;
    color: black;
    display: block;
    height: 50px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.hamburger-icon {
    display: block;
    height: 25px;
}

.show .top-bar nav {
    width: 100%;
    display: block;
}

.top-bar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.top-bar nav a {
    padding: 0 20px;
    line-height: 50px;
    font-size: 1.2em;
    transition: background-color 0.5s ease;
    display: block;
}

.top-bar nav a:hover,
.top-bar nav a:active,
.top-bar nav a:focus {
    background-color: rgba(255,255,255, 0.3);
}

.banner img{
    display: block;
    width: 100%;
}

.banner_tourism{
    width: 100%;
}

/* style for main section */

main{
    display: flex;
}

.history{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.history h1{
    width: 100%;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.history article{
    width: 70%;
    padding: 10px;
    margin: 5px;
}

.history img{
    width: 25%;
    padding: 10px;
    margin: 5px;
}

footer{
    border-top: 1px dotted red;
}

footer p{
    text-transform: uppercase;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
@media (min-width:650px){
    header {
        position: relative;
    }

    .top-bar {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .nav-button {
        display: none;
    }

    .top-bar nav {
        display: block;
    }

    .top-bar ul {
        display: flex;
    }

    .top-bar nav a {
        font-size: 1.5em;
        font-weight: bold;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
    }

}
