/* Style for Tourism page */

.h1_tourism{
    text-align: center;
    width: 100%;
    padding-top: 10px;
}

section.tourism{
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.tourist_spot{
    flex: 1;
    margin: 10px;
}

main button{
    margin: 10px;
    background: lightskyblue;
}

main button a {
    text-decoration: none;
    color: black;
}

/* form */

.form-container {
    max-width: 550px;
    background-color: blanchedalmond;
    height: auto;
    margin: 5px auto;
    border:2px dotted black;
}

.form-container h2 {
    text-align: center;
    font-size:2em;
    color: black;
    padding-top: 5px auto;
   
}

.form-container:after {
  content: "";
  display: table;
  clear: both;
}

form {
   padding: 5px 10px;
    height: auto;
    margin: 5px auto;
}

form label {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    /* float: left; */
    display: block;
    width: 200px;
}


form label[for="name"],
form label[for="email"],
form label[for="phone"],
form label[for="guests"],
form label[for="date"],
form label[for="comments"],
form label[for="pickup"] {
    clear: both;
    margin: 5px;
    display: block;
    text-align:left;
}

form input[type="name"],
form input[type="email"],
form input[type="phone"],
form input[type="guests"],
form input[type="date"] {
    margin-bottom: 20px;
}

select {
    margin-bottom: 35px;
}

form input[type="name"],
form input[type="email"],
form input[type="phone"],
form input[type="guests"],
form input[type="date"],
select,
textarea {
    display: block;
    border: none;
    text-align: center;
    width: 300px;
}

textarea {
    height: 100px;
    margin-bottom: 20px;
}

form input[type="radio"] {
    float: left;
    display: block;
    width: auto;
    
}

form input[type="checkbox"] + p {
    margin-top: 50px;
}

form p {
    font-size: 25px;
}

form input[type="submit"] {
    padding: 10px 0 10px 0;
    border: none;
    border-radius: 8px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 5px;
    width: 400px;
    color: black;
    margin: 30px auto;
    display: block;
}

@media (min-width:650px){
    section.tourism{
        flex-direction: row;
    }

    .tourist_spot{
        flex: 0 1 45%;
    }

}


@media (min-width:1000px){
    .tourist_spot{
        flex: 0 1 20%;
    }

}
